body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: teal;
}

.header {
    width: 100%;
    height: auto;
    padding: 20px 0;
    background-color: #cfd1d6;
    text-align: center;
}

.game-area {
    text-align: center;
    background-color: teal;
}

.btn {
    background-color: darksalmon;
    font-size: 100px;
}